extends ../layouts/main

block content
    .ui.main.container.search
        if (isIp)
            h1.ui.header!= 'Information about ' + title
            .ui.grid
                .column.row
                    .five.wide.column
                        .ui.raised.segment
                            +country(ipInfo.country)
                            +city(ipInfo.city)
                            +asn(ipInfo.asn)
                    .eleven.wide.column
                        .ui.segment
                            a.ui.red.ribbon.label Map
                            #map
        else
            .ui.raised.segment
                h1.ui.header!= 'Sorry, this is not valid ip address: ' + title


block scripts
    if (isIp)
        script(src='/assets/search.js', latitude='#{ipInfo.city.location.latitude}', longitude='#{ipInfo.city.location.longitude}', radius='#{ipInfo.city.location.accuracy_radius}', title='#{title}')
        script(src='https://maps.googleapis.com/maps/api/js?key=' + process.env.GOOGLE_MAPS_API_KEY + '&callback=initMap')

mixin country(country)
    if (country)
        a.ui.red.ribbon.label Country
        span Country Details
        .ui.selection.list
            a.item
                | Continent
                h5.header #{country.continent.names.en} (#{country.continent.names.ru})
            a.item
                | Code
                h5.header #{country.continent.code}
            a.item
                | Country
                h5.header #{country.country.names.en} (#{country.country.names.ru})
            a.item
                | ISO code
                h5.header #{country.country.iso_code}

mixin city(city)
    if (city)
        a.ui.blue.ribbon.label City
        span City Details
        .ui.selection.list
            a.item
                | Latitude
                h5.header #{city.location.latitude}
            a.item
                | Longitude
                h5.header #{city.location.longitude}
            a.item
                | Time zone
                h5.header #{city.location.time_zone}
            a.item
                | Accuracy radius
                h5.header #{city.location.accuracy_radius}

mixin asn(asn)
    if (asn)
        a.ui.teal.ribbon.label ASN
        span ASN Details
        .ui.selection.list
            a.item
                | Autonomous system number
                h5.header #{asn.autonomous_system_number}
            a.item
                | Autonomous system organization
                h5.header #{asn.autonomous_system_organization}